@import './constants.scss';

@mixin flex-box($jc, $ac, $ai) {
    display: flex;
    justify-content: $jc;
    align-content: $ac;
    align-items: $ai;
}

.flex {
    @include flex-box(space-between, center, flex-start);
    flex-direction: column;
    background-color: #888; 
}

// .profile-pic {
//     margin-top: -30px;
// }
