@import './constants.scss';

.content-wrapper { 
    @include flex-box(flex-start, center, center);
    width: 70%;
    margin: 0;
}

img {
    width: 180px;
    height: 180px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    margin: 10px 20px;
    margin-top: 30px;
    padding: 10px 20px;
    padding-top: 30px;
    
}

.blog-pic{
    height: 360px;
    width: 360px;
}

.content-blog{
    background: #888;
    width: 100%;
    height: 100%;
    
    @include flex-box(flex-start, center, center);
    flex-direction: column;
    padding-bottom: 50px;

    h1 {
        padding-top: 20px;
        margin-top: 30px;
    }

    p {
        margin-bottom: 40px;
    }

    a {
        text-decoration: none;
        color: $header-font-color;
        transition: 0.3s;

        &:hover {
            opacity: 0.2;
        }
    }
}

.article {
    align-self: flex-start;

}

.blog-inline{ 
    display: inline-block;

}