@import './constants.scss';

footer {
    width: 100%;
    background: $main-background-color;
    height: 100px;

    h4 {
        @include base-font(400, 24px)
        text-align: center;
        padding: 20px 0;
        color: white;
    }

    ul {
        display: block;
        text-align: center;
    }

    li {
        display: inline-block;
        vertical-align: top;
        width: 5%;
    }

    a {
        color: white;
        transition: 0.3s;

        &:hover {
            opacity: 0.2;
        }
    }
}
