* {
    margin: 0 auto;
    padding: 0;
}

.index {
    height: 50vh;
    background: url("../img/jeff-bg.jpg");
}

.about{
    height: 30vh;
    background: url("../img/about.jpg");
}

.blog{
    height: 30vh;
    background: url("../img/landscape.jpg");
}

.hero {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        margin: 0;
        text-align: center;
        color: white;
        font-size: 48px;
        padding-top: 40px;
        text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    }
}
